# Face Detection Project Requirements
# Author: Abylay Slamzhanov
# GitHub: https://github.com/abylsliam44/protectorai-test

opencv-python>=4.5.0
numpy>=1.21.0
matplotlib>=3.5.0
jupyter>=1.0.0
Pillow>=8.0.0
scikit-learn>=1.0.0
